@import '../../blocks/header/header.css';
@import '../../blocks/icons-list/icons-list.css';
@import '../../blocks/nav-button/nav-button.css';
@import '../../blocks/logo/logo.css';
@import '../../blocks/title/title.css';
@import '../../blocks/slider/slider.css';
@import './__title.css';
@import './__main-container.css';
@import '../../blocks/lead/lead.css';

* {
  box-sizing: border-box;
}

.services {
  background-color: #F8F8F8;
  position: relative;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../../vendor/fonts/TTLakes/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../../vendor/fonts/TTLakes/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
}


@font-face {
  font-family: 'TT Lakes';
  src: url('../../vendor/fonts/TTLakes/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../../vendor/fonts/TTLakes/TTLakes-DemiBold.woff') format('woff');
  font-weight: 600;
}
