@import './__description.css';
@import './__show-full-text.css';
@import './__cover.css';
@import './__text.css';
@import './__info.css';

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
}

@media (min-width: 768px) {
  .lead {
    flex-direction: row;
    align-items: flex-start;
    padding: 32px 24px;
  }
}

@media (min-width: 1120px) {
  .lead {
    padding: 16px 32px;
  }
}

