@import './__header.css';
@import './__title.css';

.main {
  padding: 24px 0;
}

@media (min-width: 768px) {
  .main {
    padding: 24px 0;
  }
}

@media (min-width: 1120px) {
  .main {
    padding: 43px 0;
  }
}
