.title {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'TT Lakes';
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 4px;
  height: 100%;
  background-color: #41F6D7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

@media (min-width: 768px) {
  .title {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1120px) {
  .title {
    padding-left: 32px;
    padding-right: 32px;
  }
}
