.header__icons-list.header__icons-list--contacts {
  display: none;
  order:3;
  margin-left: auto;
}


@media (min-width: 768px) {
  .header__icons-list.header__icons-list--contacts {
    display: flex;
  }
}
