.header__split {
  flex-shrink: 0;
  display: block;
  width: 2px;
  height: 32px;
  margin: 0 20px;
  background-color: #EAEAEA;
  order: 2;
}

.header__split:last-of-type {
  display: none;
}

@media (min-width: 768px) {
  .header__split {
    order: 1;
  }
  .header__split:last-of-type {
    display: block;
    order: 4;
  }
}
