@import './__icons-list.css';
@import './__icons-list--contacts.css';
@import './__nav-button.css';
@import './__split.css';
@import './__logo.css';

.header {
 display: flex;
 min-height: 88px;
 align-items: center;
 padding: 18px 16px;
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
