.slider__nav {
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  padding-left: 16px;
  align-items: center;
}

.slider__nav::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .slider__nav {
    padding-left: 24px;
    padding-right: 24px;
  }
}


@media (min-width: 1024px) {
  .slider__nav {
    flex-wrap: wrap;
    overflow-x: hidden;
    padding-left: 24px;
    padding-right: 24px;
  }
}


@media (min-width: 1120px) {
  .slider__nav {
    padding-left: 32px;
    padding-right: 32px;
  }
}
